BOT_TOKEN=
GUILD_ID=


INTEGRATION_LOGS_CHANNEL_ID=

TWITCH_CHANNEL=
TWITCH_BROADCASTER_ID=

TWITCH_USERNAME=
TWITCH_CLIENT_ID=
TWITCH_USER_TOKEN=
TWITCH_BOT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REFRESH_TOKEN=
TWITCH_REDIRECT_URI=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3456/spotify/callback
SPOTIFY_DEVICE_ID=
VULKAN_AGENT_KEYS=vulkan-agent:troque-esse-segredo
VOICEMOD_DEFAULT_VOICE_ID=df6454f1-8eb2-4092-9ccc-fb51219f6291

DATABASE_URL=
TZ=America/Sao_Paulo
